* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1.2fr .8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar box1 box2 box3"
    "sidebar footer footer footer";
}

nav {
    background-color: green;
    grid-area: nav;
}

main {
    background-color: blueviolet;
    grid-area: main;
}

#sidebar {
    background-color: yellow;
    grid-area: sidebar;
}

#box1 {
    background-color: aqua;
    grid-area: box1;
}

#box2 {
    background-color: brown;
    grid-area: box2;
}

#box3 {
    background-color: slategray;
    grid-area: box3
}

footer {
    background-color: red;
    grid-area: footer;
}